// HEIGHT AND WIDTH
$browserWidth: 100vw;
$browserHeight: 100vh;
$clientWidth: 50vw;
$clientHeight: 50vh;
$sliderWidth: 25vw;
$sliderHeight: 8vh;
$sliderWidthMob: 70vw;
$sliderHeightMob: 8vh;
$br: 2vh;

// BACKGROUND-COLORS
$blurBkgColor: rgba(0, 0, 0, 0.8);
$clientBkg: rgba(120, 120, 120, 0.3);
$lawyerBkg: rgba(255, 255, 255, 0.3);
$lightblacka06: rgba(10, 10, 10, 0.6);
$loginWrapper: rgba(0, 0, 0, 0.3);
$headerWrapper: rgba(255, 255, 255, 0.8);
$inputWrapper: rgba(180, 180, 180, 0.8);
$navBarWrapper: rgba(50, 50, 50, 0.9);
$mydashboard: rgba(186, 228, 245, 0.6);
$borderBottom: rgba(85, 85, 85, 1);
$white06: rgba(255, 255, 255, 0.6);
$oneTwenty: rgb(100,100,100);
$darkBlue: rgba(0, 64, 128,1);



// COLORS
$black: black;
$white: white;
$sliderHover: rgba(10, 10, 10, 10.8);
$navBarSections: rgba(180,180,180,1);

// FONT-SIZES
$fontSize15rem: 1.5rem;
$fontSize125rem: 1.2rem;
$fontSize18rem: 1.8rem;
$fontSize2rem: 2rem
